{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>El hanamichi C:</h1>
        <p>Lorem ipsum dolor sit amepisicingptatum vel quos sunt fuga, optio nostrum delectus molestiae, sit inventore nulla at?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/hanamichi.jpg" alt="" class="img-thumbnail" height="300px" width="auto">
    </div>
</div>
{{> footer}}